.board {
  background-color: darkgreen;
  margin-left: 3vw;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid green;
}

.road {
  background-color: rgb(105, 64, 26);
}

.character {
  background-color: black;
}
.enemy{
  background-color: red;
}

.pause {
  background-color: #DD3366;
  color: white;
  border-radius: 20px;
}

.start {
  background-color:#bb33dd;
  color: white;
  border-radius: 20px;
}