/* BODY */
body {
  background-color: rgb(173, 151, 124);
}

/* HEADER*/
h1 {
  text-align: center;
  margin-bottom: -15px;
}

h2 {
  text-align: center;
  font-size: 20px;
}

/* MAIN-WRAPPER*/
.main-wrapper {
  height: 374px;
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
}

/* TABLE-BOARD */
.game-wrapper {
  display: inline-block;
}

.board {
  background-color: darkgreen;
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
}

.road {
  background-color: rgb(105, 64, 26);
}

/* ASIDE-WRAPPER */
.aside-wrapper {
  width: 300px;
  height: 374px;
  /* margin-top: 0px; */
  display: inline-block;
  background-color: silver;
  position: absolute;
  margin-left: 4vw;
}

.info-char {
  height: 50%;
  background-color: #bb33dd;
}

#inventory {
  height: 50%;
  background-color: aqua;
}

/* BOTTOM-WRAPPER */
.bottom-wrapper {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
  height: 60px;
  background-color: silver;
}

#dialogs {
  height: 60px;
  overflow-y: scroll;
}

/* CHARACTER & ENEMIES*/
.character {
  background-color: black;
}
.enemy{
  background-color: red;
}

/* EVENTS */
.pause {
  background-color: #DD3366;
  color: white;
  border-radius: 20px;
}

.start {
  background-color:#bb33dd;
  color: white;
  border-radius: 20px;
}

/* FOOTER */
.footer-wrapper {
  margin-top: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
/* *****************PRUEBAS CSS KARIM*************** */
.menu-screen-wrapper{
  width:800px;
  height: 600px;
  background-color: #bb33dd;
  position: relative;
}


.menu-wrapper{
  width: 360px;
  height: 360px;
  position: absolute;
  top: 60px;
  right: 220px;
  left: 220px;
  bottom: 120px;
  background-color: aquamarine;
  text-align: center;

}
.menu-button{
  width: 180px;
  height: 80px;
  display: block;
  margin:20px 90px;
}
.game-title{
  width: 460px;
  height: 80px;
  position: absolute;
  background-color: blue;
  top:480px;
  right: 170px;
  left:170px,
  
}